.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.project-page {
    .text-zoneP {
        position: absolute;
        left: 13%;
        top: 1%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;

        h1 {
            color: #fff;
            font-size: 55px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;
        }
    }

    .carousel {
        margin-top: 3.5%;
        margin-left: 6.5%;
        margin-right: 4%;

        .card {
            border-radius: 8px;
            overflow: hidden;
            background-color: #282828;
            height: 40%;
            text-align: center;
            font-family: "Coolvetica";
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);

            .card-top img {
                max-width: 100%;
                max-height: 100%;
                object-fit: fill;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .card-top p {
                margin-top: 20px;
                // padding: 10px;
                color: #fff;
                font-size: 28px;
            }

            .card-bottom {
                .desc {
                    font-size: 18px;
                    padding-top: -5px;
                    padding-left: 10px; 
                    padding-right: 10px;
                    color: #fff;
                }

                .button-link {
                    background: #68e2fa;
                    color: #333;
                    font-size: 20px;
                    font-weight: 400;
                    text-decoration-color: transparent;
                    letter-spacing: 1.5px;
                    font-family: 'Coolvetica';
                    padding: 15px 18px;
                    float: right;
                    // margin-right: 1%;
                    // margin-bottom: 1.1%;
                    animation: fadeIn 1s 1,8s backwards;
                    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
                    
                    &:hover {
                        // transform: scale(1.1);
                        text-decoration-color: #181818;
                        text-decoration-thickness: 2px;
                        transition-duration: 1s;
                    }
            
                    .i {
                        padding-left: 10px;
                    }
                }

                .stack {
                    float: left;
                    height: auto; 
                    width: auto; 
                    max-width: 50px; 
                    max-height: 50px;
                    padding-left: 3%;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .project-page {
        .text-zoneP h1 {
            font-size: 41px;
        }

        .carousel {
            margin-top: 10%;
            margin-left: 6%;
            margin-right: 6%;
        }
    }
}