.text-zone {
        position: absolute;
        left: 8%;
        transform: translateY(-50%);
        width: 100%;
        max-height: 90%;

        h1 {
            color: #fff;
            font-size: 55px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;
        }
}

.timeline {
    padding-top: 2%;
    font-family: 'Coolvetica';
    font-weight: 200;

    h1 {
        letter-spacing: 2.5px;
    }

    .vertical-timeline-element-subtitle {
        color: #fff;
        letter-spacing: 1.5px;
    }

    .experience-points {
        font-size: 15px;
    }

    .experience-date {
        color: rgb(209, 209, 209);
        font-size: 13px;
    }
}

@media screen and (max-width: 800px){
    .text-zone {
        left: 2.5%;
        h1 {
            font-size: 40px;
        }
    }

    .timeline {
        padding-top: 10%;
    }
}