// 1st level of CSS styling found in layout.scss 
.divider {
    width: 100%;
    height: 50px;
    background-color: #68e2fa;
    clip-path: polygon(50% 0%, 100% 0, 100% 10%, 30% 7%, 24% 45%, 5% 45%, 0 0);
}

.contact-form {
    margin-left: 18%;
    margin-top: 10%;
    max-width: 60%;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 1s 2s;
            animation-fill-mode: forwards;
        }
    }

    input[type="text"], input[type="email"] {
        width: 70%;
        border: 0;
        background: transparent;
    }
}

.form-group{
 
    position: relative;
    font-size: 30px;
    color: #666;
    &+&{
      margin-top: 30px;
    }
    
    .form-label{
      position: absolute;
      z-index: 1;
      left: 0;
      top: 5px;
      transition: .3s;
      
    }
    
    .form-control{
      width: 100%;
      position: relative;
      z-index: 3;
      height: 35px;
      background: none;
      border:none;
      padding: 5px 0;
      transition: .3s;
      border-bottom: 1px solid #777;
      color: #555;
      &:invalid{outline: none;}
      
      &:focus , &:valid{
        outline: none;
  
        box-shadow: 0 1px #68e2fa;
        border-color:#68e2fa;
        + .form-label{
          font-size: 25px;
          color: #68e2fa;
          transform: translateY(-15px);
        }
      }
    }
    
  }