.nav-bar {
    background: #181818;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    text-align: center;

    // .logo {
    //     display: block;
    //     padding: 8px 0;
    //     font-size: 35px;
    //     margin-top: 20px;
    //     margin-left: 17px;
    //     background: #333;
    //     border-radius: 70%;
    //     width: 70%;
    //     transition: 0.5s;

    //     &:hover svg {
    //         color: #68e2fa;
    //         text-shadow: 0 0 35px#68e2fa;
    //         transform: scale(1.1);
    //     }
    // }

    nav {
        display: block;
        text-align: center;
        position: relative; //absolute
        height: 210px;
        top: 50%;
        margin-top: -250px;
        width: 100%;

        a {
            font-size: 35px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 60px; //51px
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #68e2fa;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 15px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: "HOME";
                }
            }
        }
        a.project-link {
            &:after {
                content: "PROJECTS";
            }
        }

        a.about-link {
            &:after {
                content: "ABOUT";
            }
        }

        a.contact-link {
            &:after {
                content: "CONTACT";
            }
        }

        a.active {
            svg {
                color: #68e2fa;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 30px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 10px 0;
                display: block;
                font-size: 30px;
                line-height: 16px;

                &:hover svg {
                    color: #68e2fa;
                }
            }
        }
    }
}

