.toggle-button {
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 33px;
    height: 21px;
    z-index: 4;
}

.toggle-button .bar {
    height: 3px;
    background-color: #68e2fa;
    border-radius: 10px;
    margin-bottom: -5px;
}

.toggle-button .bar2 {
    height: 3px;
    width: 25px;
    background-color: #68e2fa;
    border-radius: 10px;
    margin-bottom: -5px;
}

.nav-bar {
    background: #181818;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    text-align: center;

    nav {
        display: block;
        text-align: center;
        position: relative; //absolute
        height: 210px;
        top: 50%;
        margin-top: -250px;
        width: 100%;

        a {
            font-size: 35px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 60px; //51px
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #68e2fa;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 15px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: "HOME";
                }
            }
        }
        a.project-link {
            &:after {
                content: "PROJECTS";
            }
        }

        a.about-link {
            &:after {
                content: "ABOUT";
            }
        }

        a.contact-link {
            &:after {
                content: "CONTACT";
            }
        }

        a.active {
            svg {
                color: #68e2fa;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 30px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 10px 0;
                display: block;
                font-size: 30px;
                line-height: 16px;

                &:hover svg {
                    color: #68e2fa;
                }
            }
        }
    }
}

// Controlled by toggle-button class, dropdown menu shown only when button clicked
@media screen and (max-width: 800px) {
    .toggle-button {
        display: flex;
    }
    .nav-bar {
        background-color: transparent;
        position: initial;
        height: auto;
        min-height: auto;

        ul, nav {
            display: none;
        }

        nav {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #181818;
            z-index: 2;
            top: 0;
            left: 0;
            margin: 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            a:after {
                opacity: 1;
                position: initial;
                width: auto;
                margin-left: 10px;
            }
            // prevents icon from disappearing upon hover due to function meant for desktop use
            a svg {
                opacity: 1 !important;
            }

            &.mobile-show {
                display: block;
            }
        }
    }
}